@using BankGuard.Core.Application.ViewModels.User;
@model ForgotPasswordViewModel

@if(Model.HasError){

    <div class="alert alert-danger alert-dismissible fade show">
        <p>@Model.Error</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="card">
    <div class="row">
        <form method="post" asp-action="ForgotPassword" asp-controller="User">
            <input asp-for="Email" placeholder="Email" />
            <input type="hidden" asp-for="HasError" value="false" />
            <input type="hidden" asp-for="Error" value="." />
            <button type="submit" class="btn btn-primary">Send Request</button>
            <a class="btn btn-outline-secondary" asp-action="Login" asp-controller="User">Back</a>
        </form>
    </di>
</div>