@using BankGuard.Core.Application.ViewModels.User;
@model ResetPasswordViewModel

<div>
    <div>
        <form method="post" asp-action="ResetPassword" asp-controller="User">
            <input asp-for="Email" placeholder="Email"/>
            <input asp-for="Password" placeholder="Password" />
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <input type="hidden" asp-for="Token" />
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>