@using BankGuard.Core.Application.ViewModels.Transaction
@using BankGuard.Core.Application.Dtos.Transaction;
@using BankGuard.Core.Application.ViewModels.Product
@model SaveTransactionViewModel
@{
    List<ProductViewModel> products = ViewBag.Account;
    TransactionResponse response = ViewBag.Error;
}
<div class="container h-100 w-100 d-flex flex-column justify-content-center align-items-center">
    <h2>Express Payment</h2>
    <div class="card p-3 m-3 col-md-5  d-flex justify-content-center">
            @if(response.HasError){
                <div class="alert alert-danger" role="alert">
                    <ul>
                    @foreach(string error in response.Error){
                        <li>@error</li>
                    }
                    </ul>
                    <button class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
                </div>
            }
            <form method="post" asp-action="Express" asp-controller="Payment">
            <div class="d-flex flex-column gap-2">
                    <label>Account From</label>
                    <select asp-for="AccountFrom">
                        @foreach(ProductViewModel product in products){
                            <option value="@product.accountnumber">@product.accountnumber Balance: $@product.Balance</option>
                        }
                    </select>
                    <span asp-validation-for="AccountFrom" class="text-danger"></span>
                    <label>Account to</label>
                    <input asp-for="AccountTo"  placeholder="Account Number"/>
                    <span asp-validation-for="AccountTo" class="text-danger"></span>
                    <label>Amount</label>
                    <input asp-for="Amount" placeholder="0.00" />
                    <input type="hidden" asp-for="Amount" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                    <label>Add note</label>
                    <textarea asp-for="Detail" style="resize:none;" placeholder="Description"></textarea>
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>

    </div>
</div>



